.header{

background-color:black;
border: 0.2vh;
border-color: greenyellow;
border-style: solid;
border-radius: 1.3vh;
position: fixed!important;
z-index: 1;
width: 100%!important;
opacity: 85%;
filter: contrast(130%)!important;
filter: brightness(110%)!important;

}
.headertitle{
    font-size:1.3rem!important ;
    font-weight: 500!important;
}

.botonnav{
    background-color: greenyellow!important;
}

a{
    color:greenyellow!important;
    font-size: 1.2rem;
    font-weight: 400!important;
    transition:all 0.7s ease!important;
    text-align: center!important;
}
a:hover{
    color:red !important;;
    /* transform:scale(1.10)!important; */
   

}

.icon{
    color:greenyellow;
    transition:all 0.5s ease!important;
    
}
.icon:hover{
    color:red !important;;
}
.icons{
    display: flex;
    align-items: center!important;
}