.header{
background-color:#1C1427;
}
.botonnav{
    background-color: greenyellow!important;
}

a{
    color:greenyellow!important;
    font-size: 1.2rem;
    font-weight: 400!important;
    transition:all 0.7s ease!important;
}
a:hover{
    color:red !important;;
    /* transform:scale(1.10)!important; */
   

}

.icon{
    color:greenyellow;
    transition:all 0.7s ease!important;
    
}
.icon:hover{
    color:red !important;;
}